# Node.js dependencies
/node_modules/
.pnp
.pnp.js

# Build outputs
/build/
.dist/
.cache/
.next/
out/
.nuxt/
.vuepress/dist
.svelte-kit/

# Testing outputs
/coverage/
.nyc_output
*.lcov
.jest/

# Logs and runtime files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
*.log
*.pid
*.pid.lock
*.seed

# Diagnostic files
report.[0-9]*.json

# Environment variables
.env
.env.local
.env.*.local

# IDE files
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Optional cache directories
.parcel-cache
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Tools and package managers
.yarn/
.yarn-integrity
.yarn.lock
*.tgz
.npm
bower_components/

# VSCode local history
.history/

# Misc
node_modules/
jspm_packages/
.lock-wscript
.tern-port
.dynamodb/

# Compiled binary addons
build/Release/

# Local serverless directories
.serverless/
.webpack/
